*,
a,
ul,
::before,
::after {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
.navbar {
  background-color: #1abc9c5c;
  padding: 15px 0;
  border-radius: 0px;
  border: none;
}
.navbar .navbar-brand {
  font-size: 50px;
  color: #34568b;
  padding: 0;
  padding: 15px 0 0 15px;
  font-family: "Slabo 27px", serif;
}
.navbar .navbar-brand:hover {
  color: #34568b;
}
.navbar-nav {
  margin-left: 16%;
}
.navbar-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-right li:nth-child(1) a,
.navbar-right li:nth-child(2) a {
  color: black;
}
.body-separate {
  width: 97%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body-separate .gauche {
  width: 20%;
  /* background-color: rgb(192, 108, 108); */
}
.body-separate .droite {
  width: 75%;
  margin: auto;
  /* background-color: blue; */
}
.title {
  width: 100%;
  text-align: center;
  margin: 35px auto;
  font-family: "Slabo 27px", serif;
}
.info {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  align-items: center;
}
.d {
  width: 32%;
  margin-top: 20px;
}
.e {
  width: 48%;
  margin-top: 20px;
}
.f {
  width: 49%;
  margin-top: 20px;
}
.g {
  width: 23%;
  margin-top: 20px;
}
label {
  padding-left: 5px;
  font-size: 16px;
}
.butn {
  /* border: 1px solid salmon; */
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px auto;
  font-family: "Slabo 27px", serif;
}
.btn {
  background-color: rgb(62, 146, 62);
  width: 45%;
  border: none;
}
.btn:nth-child(1) {
  background-color: crimson;
}
.alert {
  width: 90%;
  margin: auto;
}
.container {
  width: 100%;
  padding: 10px 0;
  min-height: 50%;
  border: 1px solid crimson;
}
.container .action-head {
  margin: 10px 0;
  background-color: gray;
  color: black;
  padding: 10px;
  width: 100%;
}
.container .action-head h4 {
  font-size: 16px;
}
