*,
a,
ul,
::before,
::after {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
.navbar {
  background-color: #1abc9c5c;
  padding: 15px 0;
  border-radius: 0px;
  border: none;
}
.navbar .navbar-brand {
  font-size: 50px;
  color: #34568b;
  padding: 0;
  padding: 15px 0 0 15px;
  font-family: "Slabo 27px", serif;
}
.navbar .navbar-brand:hover {
  color: #34568b;
}
.navbar-nav {
  margin-left: 16%;
}
.navbar-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-right li:nth-child(1) a,
.navbar-right li:nth-child(2) a {
  color: black;
}
.body-separate {
  width: 97%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.body-separate .gauche {
  width: 20%;

  /* background-color: rgb(192, 108, 108); */
}
.body-separate .droite {
  width: 75%;
  height: 80%;
  margin: auto;
  border-radius: 10px;
  background-size: cover;
  background-position: 30% 30%;
  background-repeat: no-repeat;
  background-image: url("/images/Screenshot_20220905-011427.png");
}
.cont-r {
  margin-bottom: 8em;
}
.title {
  width: 100%;
  margin: 35px auto;
  text-align: center;
  font-family: "Slabo 27px", serif;
}
.info {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.d {
  width: 32%;
  margin-top: 20px;
}
.e {
  width: 48%;
  margin-top: 20px;
}
.f {
  width: 49%;
  margin-top: 20px;
}
.g {
  width: 23%;
  margin-top: 20px;
}
label {
  padding-left: 5px;
  font-size: 16px;
}
.butn {
  /* border: 1px solid salmon; */
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px auto;
  font-family: "Slabo 27px", serif;
}
.btn {
  background-color: rgb(62, 146, 62);
  width: 45%;
  border: none;
}
.btn:nth-child(1) {
  background-color: crimson;
}
.alert {
  width: 90%;
  margin: auto;
}
.container {
  width: 100%;
  padding: 0;
  min-height: 50%;
}
.container .action-head {
  margin: 0;
  background-color: #1abc9c5c;
  color: #34568b;
  padding: 7px;
  width: 100%;
}
.container .action-head h4 {
  font-size: 20px;
  font-family: "Slabo 27px", serif;
}
.l-option li {
  display: flex;
  padding: 0;
  height: 35px;
  align-items: center;
  position: relative;
}
.l-option li a {
  padding: 5px 15px;
  text-decoration: none;
  margin-bottom: 8px;
  letter-spacing: 2px;
  font-size: 17px;
  width: 100%;
  font-family: "Slabo 27px", serif;
  color: #000;
}
.active {
  background-color: rgb(224, 231, 220);
  border-bottom: 3px solid rgba(81, 83, 84, 0.685);
}
.l-option li:hover:after {
  width: 100%;
}
.l-option li:after {
  content: " ";
  position: absolute;
  background-color: rgb(81, 83, 84);
  height: 3px;
  width: 0;
  left: 0;
  bottom: 0;
  transition: 0.3s;
}
